cache_bench
cache_bench_debug
/preprocess/preprocess
/preprocess/preprocess_debug
*.o
*.d
compile_commands.json
twi_traces/
twi_proc/
meta_traces/
meta_proc/
.cache/
plots/
results.json
analysis/data/
analysis/venv/
analysis/traces
__pycache__