cache_bench
cache_bench_debug
/preprocess/preprocess
/preprocess/preprocess_debug
plots*/
*.o
*.d
compile_commands.json
twi_traces/
twi_proc/
meta_traces/
meta_proc/
meta22_traces/
meta22_proc/
.cache/
plots/
results*.json
analysis/data/